<gap:splash src="assets/www/img/Now_Loading.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="assets/www/img/Now_Loading.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="assets/www/img/Now_Loading.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="assets/www/img/Now_Loading.png" gap:platform="android" gap:density="xhdpi" />